*{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(10, 10, 10);
 
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    
}
p{
    color: white;
    font-size: 24px;
    text-align: justify;
    max-width: 450px;
    line-height: 1.6;
    
}
.text{
    text-indent: 50px;
}